
#left{
    background-color: aqua;
    height: 400px;
    width: 400px;
    margin-right: 30px;
    border-radius: 20px;
    text-align: justify;
    
    
}
#right{
    background-color: pink;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    text-align: justify;
}
div{
    padding: 20px;
    display: flex;
    gap: 30px;
    text-align: justify;
    margin-top: 20px;
}