:root{
    --color1:#b01eff;
    --bg:#dfe0d5;
    --yel:yellow;
}
 body{
    background-color: var(--bg);
}
 .box1{
    width:200px;
    height:200px;
    background-color: var(--color1);
 }
 .box2{
    background-color: var(--yel); 
 }
