body{
    display: flex;
    border: 2px solid black;
    /* for horizontal alingnment  */
    
    /* for vertical alignment  */
    align-items: center;
    height: 400px;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
#box1{
    width:200px;
    height:200px;
    background-color:red;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
#box2{
    width:200px;
    height:200px;
    background-color:blue;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
#box3{
    width:200px;
    height:200px;
    background-color:green;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
#box4{
    width:200px;
    height:200px;
    background-color:yellow;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
/* #box5{
    width:200px;
    height:200px;
    background-color:orange;
    
}
#box7{
    width:200px;
    height:200px;
    background-color:purple;
    
}
#box8{
    width:200px;
    height:200px;
    background-color:cyan;
     */


    